#run, .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background-color: #0098db;
    color: white;
}

.nav-pills > li.active > a:hover {
    background-color: #0098db;
    color:black;
}

/* input file form */
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}